<ul id = "subjects">
  <% Subject.all.each do |c| %>
    <li><%= link_to c.name, :action => "show_subjects", :id => c.id %></li>
  <% end %>
</ul>

<% if @books.blank? %>
  <p>There are not any books currently in the system.</p>
<% else %>
  <p>These are the current books in our system</p>

  <ul id="books">
    <% @books.each do |c| %>
      <li>
        <%= link_to c.title, {:action => "show", :id => c.id} -%>
        <b> <%= link_to 'Edit', {:action => "edit", :id => c.id} %></b>
        <b>
          <%= link_to "Delete", {:action => 'destroy', :id => c.id}, method: :delete %>
        </b>
      </li>
    <% end %>
  </ul>

<% end %>
<p><%= link_to "Add new Book", {:action => 'new' }%></p>